<app-header></app-header>

<div class="container">

   <!-- Titulos de : Listar Usuarios/ aceptar o rechazar especialista/ registrar usuario / mostrar turnos -->
    <div class="row custom-row">
       
      <!-- Mostrar Usuarios -->
        <div class="custom-col">
            <div class="menu-option-card" class="menu-option-card" (click)="mostrarUsuarios = true ; mostrarAceptarEspecialistas = false ; mostrarRegistrarUsuarios = false ; mostrarTurnos = false">
                <div class="menu-option-content">
                    <h4>Todos los Usuarios</h4>
                    <i class="fa-solid fa-users"></i>
                </div>
            </div>
        </div>
       
       
        <!-- Aceptar/Rechazar especialistas -->
        <div class="custom-col">
            <div class="menu-option-card" class="menu-option-card" (click)="mostrarUsuarios = false ; mostrarAceptarEspecialistas = true ; mostrarRegistrarUsuarios = false ; mostrarTurnos = false">
                <div class="menu-option-content">
                    <h4>Aceptar/Rechazar Especialistas</h4>
                    <i class="fa-solid fa-thumbs-up"></i>
                    <i class="fa-solid fa-thumbs-down"></i>
                </div>
            </div>
        </div>
        
        
        <!-- Registrar Usuarios -->
        <div class="custom-col">
            <div class="menu-option-card" (click)="mostrarUsuarios = false ; mostrarAceptarEspecialistas = false ; mostrarRegistrarUsuarios = true ; mostrarTurnos = false">
              <!-- <div class="menu-option-card" (click)="NavegarRegistro()"> -->
                <div class="menu-option-content">
                    <h4>Registrar Usuarios</h4>
                    <i class="fa-solid fa-id-card"></i>
                </div>
            </div>
        </div>
        
        
        <!-- MostrarTurnos -->
        <div class="custom-col">
            <div class="menu-option-card" (click)="mostrarUsuarios = false ; mostrarAceptarEspecialistas = false ; mostrarRegistrarUsuarios = false ; mostrarTurnos = true">
                <div class="menu-option-content">
                    <h4>Turnos</h4>
                    <i class="fa-solid fa-calendar-days"></i>
                </div>
            </div>
        </div>
    </div>


    <div class = "mostrar-usuarios" *ngIf="flagAdmin == true && mostrarUsuarios">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 style="text-align: center;">Todos los usuarios 👥</h2>
      </div>
    
      <!-- Tabla de usuarios -->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Foto</th>
            <th>Tipo de Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>DNI</th>
            <th>Correo</th>
           
          </tr>
        </thead>
        <tbody>
          <tr appResaltarFila *ngFor="let usuario of usuarios">
            <td>
              <div class="profile-picture-list">
                <img appExpandirHover ="usuario.fotoPerfil1" [src]="usuario.fotoPerfil1" alt="Foto de perfil" class="profile-image">
                <span *ngIf="!usuario.fotoPerfil1" class="no-photo">Sin foto</span>
              </div>
            </td>
            <td>{{ usuario.tipoUsuario }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.apellido }}</td>
            <td>{{ usuario.edad }}</td>
            <td>{{ usuario.dni }}</td>
            <td>{{ usuario.email }}</td>
            </tbody>
      </table>
    </div>



    
  </div>  
  
  <div class="container" *ngIf="flagAdmin == true && mostrarAceptarEspecialistas == true && mostrarRegistrarUsuarios == false && mostrarUsuarios == false && mostrarTurnos == false ">
    <h2 style="text-align: center;">Aceptar  ✅ /Rechazar ❌ Especialistas</h2>

   
     <table class="table table-bordered">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Dni</th>
          <th>Edad</th>
          <th>Tipo Usuario</th>
          <th>Especialidad</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <!-- <tbody>
        <tr *ngFor="let usuario of usuarios"> -->
          <!-- Verificamos si el usuario es un especialista y si su estado es 'pendiente' -->
          <!-- <ng-container *ngIf="isEspecialista(usuario) && isEspecialista(usuario)?.estado === 'pendiente'">
            <td>
              <div class="profile-picture">
                <img *ngIf="isEspecialista(usuario)?.fotoPerfil1" [src]="isEspecialista(usuario)?.fotoPerfil1" alt="Foto de perfil">
                <span *ngIf="!isEspecialista(usuario)?.fotoPerfil1" class="no-photo">Sin foto</span>
              </div>
            </td>
            <td>{{ isEspecialista(usuario)?.nombre }}</td>
            <td>{{ isEspecialista(usuario)?.apellido }}</td>
            <td>{{ isEspecialista(usuario)?.email }}</td>
            <td>{{ isEspecialista(usuario)?.dni }}</td>
            <td>{{ isEspecialista(usuario)?.edad }}</td>
            <td>{{ isEspecialista(usuario)?.tipoUsuario }}</td>
            <td>{{ isEspecialista(usuario)?.especialidad }}</td>
            <td>
              <button *ngIf="isEspecialista(usuario)" class="btn btn-success" style="height: 35px" 
                (click)="actualizarEstadoEspecialista(isEspecialista(usuario)?.dni?.toString() || '', 'aceptado')">Aceptar</button>
              <button *ngIf="isEspecialista(usuario)" class="btn btn-danger" style="height: 35px; margin-left: 5px;" 
                (click)="actualizarEstadoEspecialista(isEspecialista(usuario)?.dni?.toString() || '', 'rechazado')">Rechazar</button>
            </td>
          </ng-container>
        </tr>
      </tbody> -->
      
      
      
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <!-- Verificamos si el usuario es un especialista y si su estado es 'pendiente' -->
          <ng-container *ngIf="isEspecialista(usuario)">
            <ng-container *ngIf="(isEspecialista(usuario)?.estado === 'pendiente')">
              <td>
                <div class="profile-picture">
                  <img *ngIf="isEspecialista(usuario)?.fotoPerfil1" [src]="isEspecialista(usuario)?.fotoPerfil1" alt="Foto de perfil" class="profile-img">
                  <span *ngIf="!isEspecialista(usuario)?.fotoPerfil1" class="no-photo">Sin foto</span>
                </div>
              </td>
              <td>{{ isEspecialista(usuario)?.nombre }}</td>
              <td>{{ isEspecialista(usuario)?.apellido }}</td>
              <td>{{ isEspecialista(usuario)?.email }}</td>
              <td>{{ isEspecialista(usuario)?.dni }}</td>
              <td>{{ isEspecialista(usuario)?.edad }}</td>
              <td>{{ isEspecialista(usuario)?.tipoUsuario }}</td>
      
              <!-- Mostrar especialidades si existe alguna -->
              <td>
                <span *ngIf="isEspecialista(usuario)?.especialidades; else sinEspecialidad">
                  {{ isEspecialista(usuario)?.especialidades }}
                </span>
                <ng-template #sinEspecialidad>Sin especialidad</ng-template>
              </td>
      
              <td>
                <button *ngIf="isEspecialista(usuario)" class="btn btn-success" style="height: 35px" 
                  (click)="actualizarEstadoEspecialista(isEspecialista(usuario)?.uid?.toString() || '', 'aceptado')">Aceptar</button>
                <button *ngIf="isEspecialista(usuario)" class="btn btn-danger" style="height: 35px; margin-left: 5px;" 
                  (click)="actualizarEstadoEspecialista(isEspecialista(usuario)?.uid?.toString() || '', 'rechazado')">Rechazar</button>
              </td>
            </ng-container>
          </ng-container>
        </tr>
      </tbody>
      
      
      
      
      
      

    </table>
  </div>
  




  <div *ngIf="flagAdmin == true && mostrarRegistrarUsuarios == true && mostrarUsuarios == false && mostrarTurnos == false && mostrarAceptarEspecialistas == false" class="container">
    <app-registro [mostrarHeader]="false"></app-registro>     
  </div>