<app-header></app-header>

<body>
  <main>    
    <div class="home-image-container">
      <img src="assets/imagenes/home.jpg" alt="imagen fondo" class="home-image">
  
      <!-- info -->
      <div class="info">
        <div class="card">
          <i class="fas fa-clock"></i>
          <h2>Horario de atención</h2>
          <p>Lunes a Viernes de 8:00 a 19:00h. Sábados de 8:00 a 14:00h</p>
        </div>
        <div class="card">
          <i class="fas fa-phone"></i>
          <h2>Contacto</h2>
          <p>123-456-7890, 3010-456-8976</p>
        </div>
        <div class="card">
          <i class="fas fa-map-marker-alt"></i>
          <h2>Ubicación</h2>
          <p>AV Libertador 5478, CABA, Argentina</p>
        </div>
      </div>
    </div>

    <!-- about us -->
    <div class="about-us">
      <div class="about-item">
        <img
          src="assets/imagenes/somos.jfif"
          alt="Quiénes somos"
        />
        <div>
          <h2>¿Quiénes somos?</h2>
          <p>
            Somos un equipo comprometido de profesionales médicos dedicados a
            proporcionar atención de calidad y personalizada a cada uno de
            nuestros pacientes.
          </p>
        </div>
      </div>

      <div class="about-item">
        <img
          src="../../assets/imagenes/calidad.jpg"
          alt="Atención de Calidad"
        />
        <div>
          <h2>Atención de Calidad</h2>
          <p>
            Nuestro compromiso es garantizar que cada paciente reciba la mejor
            atención posible, utilizando tecnología de vanguardia y tratamientos
            actualizados.
          </p>
        </div>
      </div>
    </div>
  
  </main>
</body>
