
<!-- registro.component.html -->
<div *ngIf="mostrarHeader">
  <app-header></app-header>
</div>


<body> 


<div class="registro-container">
  <h1 class="registro-titulo">Registro de usuarios</h1>
  <div class="role-selection">
    <button (click)="selectRole('paciente')" class="role-button">
      <img src="assets/imagenes/paciente.png" alt="Paciente" />
    </button>
    <button (click)="selectRole('especialista')" class="role-button">
      <img src="assets/imagenes/especialista.png" alt="Especialista" />
    </button>

   <!-- Mostrar solo si el usuario es administrador -->
    <button *ngIf="isAdmin" (click)="selectRole('administrador')" class="role-button">
        <img src="assets/imagenes/administrador.png" alt="Administrador" />
    </button>
  </div>

  <!-- Formulario centrado en pantalla cuando se selecciona un rol -->
  <div *ngIf="selectedRole" class="form-modal">

    <!-- Botón de cierre -->
    <button class="close-button" (click)="closeForm()">✖</button>

    <div *ngIf="selectedRole === 'paciente'" class="form-content">
      <app-registro-paciente (registrationCompleted)="onCompleted()"></app-registro-paciente>
    </div>
    
    <div *ngIf="selectedRole === 'especialista'" class="form-content">
      <app-registro-especialista (registrationCompleted)="onCompleted()"></app-registro-especialista>
    </div>

    <div *ngIf="selectedRole === 'administrador'" class="form-content">
        <app-registro-administrador (registrationCompleted)="onCompleted()"></app-registro-administrador>
    </div>
    
  

  </div>

  <!-- Mensaje de confirmación dependiendo del rol registrado -->
  <div *ngIf="completed" class="confirmation-message">
    <p *ngIf="userRole === 'paciente'">
      😊 Paciente dado de alta satisfactoriamente. ¡Carga terminada! 😊
    </p>
    <p *ngIf="userRole === 'especialista'">
      😊 Especialista registrado satisfactoriamente. ¡Carga terminada! 😊
    </p>

    <p *ngIf="userRole === 'administrador'">
        😊 Administrador registrado satisfactoriamente. ¡Carga terminada! 😊
      </p>
  </div>
</div>
</body>
