<header>

<nav class="navbar">

   <!-- Contenido del usuario logueado -->
   <div *ngIf="usuarioLogueado">
    <div class="profile-picture">
      <img *ngIf="usuarioLogueado && isPaciente(usuarioLogueado)" [src]="usuarioLogueado.fotoPerfil1" alt="Foto de perfil">
      <span *ngIf="usuarioLogueado && !isPaciente(usuarioLogueado)" class="no-photo">Sin foto</span>
    </div>
    <h3>{{ usuarioLogueado.nombre }} {{ usuarioLogueado.apellido }} {{ usuarioLogueado.tipoUsuario | iconosUsuario }}</h3>
  </div>

    <div class="navbar-logo">
      <img src="assets/imagenes/logo.jfif" alt="Logo Clínica" class="logo" />
      <span>Clínica Salud</span>
    </div>

    <ul class="navbar-links">
      <!-- <li><a href="#inicio">Inicio</a></li>
      <li><a href="#servicios">Servicios</a></li>
      <li><a href="#pacientes">Pacientes</a></li>
      <li><a href="#especialistas">Especialistas</a></li>
      <li><a href="#contacto">Contacto</a></li> -->
    </ul>

    <div class="navbar-auth">
      <a href="#" class="btn inicio">
        <strong> 🏠 Inicio</strong>
      </a>
      <a href="/login" class="btn login">
        <strong> 📤 Ingresar</strong> 
      </a>
      <a href="/registro" class="btn register"> 
         <strong> 📝 Registrarse</strong>
      </a>
    </div>
  </nav>
  
</header>